{{extend 'layout.html'}}
<div class="text_holder">
    <div class="row-fluid">
        <div class="span3">
            {{=qrcode}}
        </div>
        <div class="span9">
            <strong>Ale po co to?</strong>
            <p>Najpierw był pomysł. Fajnie jest móc informować rodzinę czy znajomych, gdzie w danej chwili się znajdujemy podczas złombolowej eskapady:) Podczas rajdu ekipa się mocno rozciąga na przestrzeni wielu kilometrów. Czasami warto wiedzieć czy ziom jest blisko nas, za nami, a może nas wyprzedził. Kto wie - może będzie potrzebna czyjaś pomoc w razie jakiegoś wypadku? Poza tym - tysiące kilometrów działają na wyobraźnię, fajnie by było mieć z tego mapkę-trasę (tzn. mamy nadzieję, że będzie można coś z tego wyprodukować).</p>
            <p>Koncept jest prosty - chcieliśmy zrobić jakiś prosty serwis dla <strong>ekip Złombola 2014</strong>, który pozwoli Złombolowcom trzymać się bardziej w kupie (o ile tego sobie życzą), będzie przy tym prosty i da szansę bliskim podglądać:)</p>
            <p>Na całość usługi składa się serwer webowy oraz aplikacja na platformę Android. Użytkownik zarejestrowany na tej stronie, używając loginu i hasła synchronizuje swoją trasę na mapie za pośrednictwem aplikacji. Aplikacja korzysta z połączenia internetowego i jest aktywna tak długo jak jest wyświetlana ikonka w pasku statusu.
            </p>
            <p>
            Jest kod QR, ale aplikację można zainstalować też z poziomu przeglądarki co jest nawet wygodniejsze:)
            </p>
            <br/><br/><p>
               {{=a}}
            </p><br/><br/>
            <strong>Jeżeli chcesz użyć aplikacji to wystarczy:</strong>
            <ul>
            <li>Zarejestrować się na tej stronie (prawy górny róg)</li>
                <li>Zainstalować i uruchomić aplikację Donosiciel na smartfonie z Androidem (dostępne na Google Play)</li>
                <li>Teraz już możesz śledzić aktualną pozycję danej ekipy na mapce</li>
            </ul>
            <p>Aplikacja działa jedynie wtedy, gdy serwis jest aktywny (logo autofocusa jest widoczne w pasku statusu). W innym wypadku apka nic nie wysyła - nie działa w ogóle:)</p>
            <br/><br/><strong>Inne ważne informacje:</strong>
            <ul>
                <li>Próbki GPS są pobierane co 60 sekund, ale pod warunkiem, że przesunięcie jest minimum 50 metrów</li>
                <li>Dane są zapisywane lokalnie i w miarę możliwości synchronizowane z serwerem (gdy jest połączenie internetowe)</li>
                <li>Synchronizacja odbywa się poprzez WiFi i sieć komórkową, apka słucha się ustawień globalnych na telefonie</li>
                <li>Apkę powinna odpalać tylko jedna osoba z ekipy - w końcu samochód jest jeden, w innym przypadku wozik na mapce będzie się ciągle "teleportował" i nie będzie możliwe późniejsze wygenerowanie mapki przejazdu</li>
                <li>Najlepiej korzystać tylko jeśli jedziemy, warto podłączyć zasilanie i włączyć odbiornik GPS</li>
                <li>Zużycie danych - powinno być niewielkie, przykładowo: podczas testów (logowanie co 5 sekund, a nie 60) przez 3 niepełne dni wygenerowaliśmy około 200kB danych</li>
            </ul>
            <br/><br/><strong>Pytania i życzenia:</strong><br>
            Kierować do <a class='btn contact first' href="mailto:zbigniew.pomianowski@gmail.com"><i class='fa fa-envelope'></i> Zbynia</a>
        </div>
        {{if not request.user_agent().is_mobile:}}
        <div class="span9 offset3">
        <iframe style="box-sizing: border-box; width: 80% !important; height: 500px; margin-bottom: 100px; margin-top: 100px;" class="fb-like-box" src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FautofocusZlombol2013&width&height=500&colorscheme=light&show_faces=true&header=false&stream=true&show_border=false&appId=160565020794090" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
        {{pass}}
    </div>
</div>
