{{extend 'layout.html'}}
<div class="text_holder">
    <div class="row-fluid">
        <div class="span4">
            <h3>
                {{=T('Place iframe on your page')}}
            </h3>
            <p>
                Mapkę wraz z bieżącą pozycją Waszej ekipy można umieścić w ramach strony czy bloga. Wystarczy skopiować fragment poniższego kodu (tag <abbr>iframe</abbr>) i umieścić go w pasującym miejscu, gdzieś w ramach tagu <abbr>body</abbr>.
            </p>
            {{if auth.is_logged_in():}}
            <p>
                Poniżej wygenerowany fragment dla Waszej załogi. Warto dostosować wysokość i wysokość okienka (służą temu <abbr>width</abbr> i <abbr>height</abbr>).
            </p>
            {{else:}}
                <p class="text-error">Dla zalogowanych użytkowników iframe generowany jest automatycznie. Poniżej szablon. W miejsce <abbr>{{=T('TEAM_ID')}}</abbr> należy wpisać numer ekipy, którą chcemy śledzić. <br> Numer ekipy jest wyświetlany w detalach załogi (po kliknięciu na samochodzik). <br> Warto dostosować wysokość i wysokość okienka (służą temu <abbr>width</abbr> i <abbr>height</abbr>).
                </p>
            {{pass}}
            <blockquote>
                <h5>{{=T('Example')}}</h5>
                <img src="{{=URL('static', 'images/iframe_1.jpg')}}">
            </blockquote>
            <pre id="pre1" class="tocopy" onclick="selectText('pre1')">{{=content['iframe']}}</pre>
        </div>
        <div class="span4">
             <h3>
                {{=T('Direct link to %s team') % content['team']}}
            </h3>
            <p>
                Link zawiera odnośnik do ekipy. Dzięki temu użytkownik nie musi szukać ulubionej załogi, mapka od razu skupi się na danej ekipie.
            </p>
            {{if auth.is_logged_in():}}
            <p>
                Poniżej wygenerowany link dla Waszej załogi. Istotny jest znak <abbr>#</abbr> oraz nastpujący po nim <abbr>numer</abbr> załogi zaraz po głównym adresie strony.
            </p>
            {{else:}}
            <p class="text-error">Dla zalogowanych użytkowników link generowany jest automatycznie. Poniżej szablon. W miejsce <abbr>{{=T('TEAM_ID')}}</abbr> należy wpisać numer ekipy, którą chcemy śledzić. Numer ekipy jest wyświetlany w detalach załogi (po kliknięciu na samochodzik).
            </p>
            {{pass}}
            <pre id="pre2" class="tocopy" onclick="selectText('pre2')">{{=content['direct_link']}}</pre>
        </div>
        <div class="span4">
             <h3>
                {{=T('Add app to the FB\'s fanpage')}}
            </h3>
            <p>
                Strona może działać jako aplikacja i stanowić ciekawy widget dla Waszego fanpage'a. By umieścić odpowiednią kartę z mapką do fanpage'a należy wcisnąć poniższy przycisk i wybrać z menu, do której strony aplikacja/widget ma być podpięty (w tym celu musimy być zarządcą jakiejkolwiek strony).<br>
                Jeśli karta nie jest widoczna należy poszukać jej w opcji <abbr>Więcej</abbr>. W tym samym menu można również zmieniać kolejność kart. W ustawieniach fanpage'u jest opcja zmiany nazwy <abbr>Gdzie Oni Kurde Są!</abbr> - można zmienić na dowolną.<br>
                Apka wyświetla na start wszystkie ekipy.<br>
            </p>
            <p>
                Przycisk nie działa z poziomu urządzeń mobilnych. Należy uruchomić link na komputerze.
            </p>
            <p>
                Certyfikat SSL działa jedynie do 14.09.2015. Później apka może nie działać (chyba, że zapniemy inny certyfikat dla domeny).
            </p>
            <a class='btn' href="https://www.facebook.com/dialog/pagetab?app_id=160565020794090&redirect_uri=https://gdzieonikurdesa.pl" target="_blank" style="width: 100%; box-sizing: border-box;">{{=T('Add to your fanpage')}}</a>
            <blockquote>
                <h5>{{=T('Example')}}</h5>
                <img src="{{=URL('static', 'images/fb_app.jpg')}}">
            </blockquote>
        </div>
    </div>
</div>
<script type="text/javascript">
    function selectText(containerid) {
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select();
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().addRange(range);
        }
    }
</script>
