{{extend 'layout.html'}}
<div class="text_holder">
    <div class="row-fluid">
<iframe src="http://www.seethestats.com/stats/13700/Pageviews_dce5c49a2_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>
<iframe src="http://www.seethestats.com/stats/13700/VisitsByCity_6e96bdff2_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>
<iframe src="http://www.seethestats.com/stats/13700/VisitsByCountry_9054e6553_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>
<iframe src="http://www.seethestats.com/stats/13700/VisitsByLanguage_66b2b498c_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>
<iframe src="http://www.seethestats.com/stats/13700/Visits_6299b7357_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>
    </div>
</div>