<!--[if HTML5]><![endif]-->
<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html prefix="og: http://ogp.me/ns#" lang="{{=T.accepted_language or 'en'}}"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{{=response.title or request.application}}</title>

    <!-- for Google -->
    <meta name="description" content="{{=response.meta.description}}" />
    <meta name="keywords" content="{{=response.meta.keywords}}" />
    <meta name="author" content="{{=response.meta.author}}" />
    <meta name="copyright" content="{{=response.meta.author}}" />
    <meta name="application-name" content="{{=request.application}}" />
    <meta name="robots" content="index, follow" />
    <meta name="generator" content="{{=response.meta.generator}}" />
    <meta name="googlebot" content="code" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- for Facebook -->
    <meta property="og:title" content="{{=response.title or request.application}}" />
    <meta property="fb:app_id" content="160565020794090" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{=URL('static', 'images/512_3.jpg', host=True)}}" />
    <meta property="og:image" content="{{=URL('static', 'images/512_2.jpg', host=True)}}" />
    <meta property="og:image" content="{{=URL('static', 'images/512.png', host=True)}}" />
    <meta property="og:url" content="http://gdzieonikurdesa.pl/" />
    <meta property="og:description" content="{{=response.meta.description}}" />
    <meta property="article:author" content="https://www.linkedin.com/profile/view?id=133953729&trk=nav_responsive_tab_profile_pic" />

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{=response.title or request.application}}" />
    <meta name="twitter:description" content="{{=response.meta.description}}" />
    <meta name="twitter:image" content="{{=URL('static', 'images/512.png')}}" />

    <!-- stylesheets -->
    {{
        response.files.append(URL('static','css/web2py.css'))
        response.files.append(URL('static','css/bootstrap.min.css'))
        response.files.append(URL('static','css/bootstrap-responsive.min.css'))
        response.files.append(URL('static','css/font-awesome/css/font-awesome.min.css'))
        response.files.append(URL('static','css/web2py_bootstrap.css'))
    }}

    {{include 'web2py_ajax.html'}}

    <link rel="shortcut icon" href="{{=URL('static','images/favicon.png')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

    <!--[if !HTML5]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <![endif]-->
</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pl_PL/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        window.fbAsyncInit = function() {
            FB.init({
                appId: 160565020794090,
                xfbml: true
            });
            FB.Canvas.setSize({ width: 810, height: 500 });
        }
    </script>
    <div class="appcontainer">

      <!-- Push Wrapper -->
      <div class="mp-pusher" id="mp-pusher">
        <div style="position: absolute; left: 50%;">
            <div class="fb-like" data-href="http://gdzieonikurdesa.pl/" data-width="50" data-layout="button" data-action="like" data-show-faces="false" data-share="true"
                style="position: relative; z-index: 1; left: -50%; top: 5px;"
            ></div>
        </div>
        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu">
            {{=helpers.MENU(response.menu)}}
        </nav>
        <!-- /mp-menu -->

        <div class="scroller"><!-- this is for emulating position fixed of the nav -->
            <div class="scroller-inner">
                <a href="#" id="trigger" class="menu-trigger">
                    <i class="fa fa-bars fa-3x"></i>
                </a>
                {{block center}}
                {{include}}
                {{end}}
            </div>
        </div>
      </div>
    </div><!-- /pusher -->
    <div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{=T('Detailed team info')}}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <ul class="nav nav-tabs" id="teamTab">
                  <li class="active"><a href="#team_overview">{{=T('Overview')}}</a></li>
                  <li><a href="#team_maps">{{=T('Maps')}}</a></li>
                  <li><a href="#dl_samples">{{=T('Download samples')}}</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane content1 active" id="team_overview">...</div>
                    <div class="tab-pane content2" id="team_maps">...</div>
                    <div class="tab-pane content3" id="dl_samples">...</div>
                </div>

                <script>
                    $(function () {
                        $('#teamTab a').click(function (e) {
                            e.preventDefault();
                            $(this).tab('show');
                        });
                    });
                </script>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{{=T('Close')}}</button>
        </div>
    </div>
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
    <link href="{{=URL('static','js/bootstrap-switch.css')}}" rel="stylesheet">
    <script src="{{=URL('static','js/bootstrap-switch.min.js')}}"></script>
    <script type="text/javascript">
        $("[type='checkbox']").bootstrapSwitch();
        $(document).ready(function() {
            window.menu = new mlPushMenu(document.getElementById('mp-menu'), document.getElementById('trigger'));
            $("#mp-menu a").click(function(e) {
                if ($(this).hasClass('ic')) return;
                if ($(this).hasClass('mp-back')) return;
                var refSite = e.target.href;
                if (e.target.href) e.preventDefault();
                window.menu._resetMenu();
                setTimeout( function() {
                    window.location = e.target.href;
                }, 300 );
            });
            $('body').on('mouseover', 'a.fancybox', function() {
                $("a.fancybox").click(function() {
                    $("a.fancybox").fancybox();
                });
            });
        });
    </script>
    <script>

    </script>
    <!--[if lt IE 7 ]>
        <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
        <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
    <![endif]-->

{{if response.google_analytics_id:}}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{=response.google_analytics_id}}', 'auto');
    ga('send', 'pageview');
</script>
{{pass}}
<script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
</body>
</html>
