{{extend 'layout.html'}}
<div class="text_holder">
    <div class="row-fluid">
    <div class="span12">
<iframe src="http://www.seethestats.pl/stats/13700/Pageviews_dce5c49a2_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>
<iframe src="http://www.seethestats.pl/stats/13700/Visits_6299b7357_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>
<iframe src="http://www.seethestats.pl/stats/13700/PageviewsBySource_7a6a21632_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>
<iframe src="http://www.seethestats.pl/stats/13700/VisitorsByCountry_7af0078c5_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>
<iframe src="http://www.seethestats.pl/stats/13700/VisitorsByCity_b853adfc9_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>
<iframe src="http://www.seethestats.pl/stats/13700/VisitorsByOperatingSystem_7574ae439_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>
    </div>
    </div>
</div>
